body{
    margin: 0 auto;
    font-family: Inconsolata;
    font-size: 18.4px;
    line-height: 1.6;
    box-sizing: border-box;
}
.viewleft{
    background-image: url("background.png");
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
}
.viewRight{
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    /*float: left;*/
}
a.top-nav,a.bottom-nav{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    text-align: left;
    padding-bottom: 0.2em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
a.bottom-nav:hover,a.top-nav:hover,a.top-nav-right:hover{
    border-bottom: 3px solid crimson;
}
a.top-nav-right{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Space Mono";
    text-align: left;
    padding-bottom: 0.2em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
section.contents-left h1{
    font-size: 3em;
    font-family: Monospaced;
    margin: 0;
    font-weight: bold;
}
.contents-left{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}
section.contents-left a{
    font-family: Inconsolata,monospace;
    text-decoration: none;
    color: white;
    display: block;
}
section > nav > ul > li{
    font-family: Monospaced;
    display: block;
    position: relative;
}
section > nav > ul > li a{
    margin: 0px;
}
section > nav > ul{
    padding: 1em;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin: 0;
}
#blurBackground{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.75);
    display: flex;
    flex-direction: column;
}
.contents-right{
    padding: 60px;
    text-align: left;
    font-family: 'Space Mono', monospace;
}