/*a:link{*/
    /*color:hotpink;*/
/*}*/
/*div{*/
    /*border: 3px solid deeppink;*/
    /*width: 50%;*/
    /*padding: 10px;*/
    /*margin: 10px auto;*/
    /*text-align: left;*/
/*}*/
/*body{*/
    /*text-align: center;*/
/*}*/
body{
    margin: 0 auto;
    box-sizing: border-box;
}
#navBar{
    height: 75px;
    background-color: royalblue;
}
#headerView{
    height: 648px;
    background-image: url("banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#mainSession{
    margin: 75px 100px;
    height: 500px;
    background-color: gray;
}
#viewFooter{
    height: 100px;
    background-color: black;
}
p{
    height: 200px;
    background-color: khaki;
    margin-bottom: 75px;
}
div.col{
    height: 400px;
    width: 48%;
    background-color: tomato;
    float: left;
}

.collection{
    /*text-transform: uppercase;*/
    display: inline-block;
    padding: 10px;
}
.collection a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "proxima-nova";
    font-style: normal;
}
#navBar{
    position: absolute;
    padding: 20px 20px;
    top: 0px;
    right: 0px;
    text-align: right;
    z-index: 100;
    background-color: transparent;
}
#logoView{
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    z-index: 100;
    padding: 20px 20px;
}
#blurBackground{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}